# dependencies
/node_modules
/.pnp
.pnp.*

# tests and builds
/coverage
/playwright-report
/test-results
/.next
/out

# production
/build

# local environment files
.env*
!.env.example

# Vercel
.vercel

# editor and OS
.DS_Store
Thumbs.db
*.pem
*.log

# TypeScript
*.tsbuildinfo
next-env.d.ts
